<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.ezen.mapper.AdminMapper">

	<sql id="search">
		<if test="type == 'user_nickname'">
			where user_nickname like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'user_name'">
			where user_name like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'user_id'">
			where user_id like concat('%',#{keyword},'%')
		</if>
	</sql>

	<select resultType="kr.co.ezen.entity.User" id="findAll"
		parameterType="kr.co.ezen.entity.Criteria">
		select user_idx,user_id,user_nickname,user_name,user_admin from User
		<include refid="search" />
		order by user_idx desc
	</select>

	<delete id="deleteByIdx" parameterType="int">
		delete from User where
		user_idx=#{user_idx}
	</delete>



	<delete id="deleteByCheckbox" parameterType="java.util.List">
		delete from user where user_idx in
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>


	<update id="updateAdminStatus"
		parameterType="kr.co.ezen.entity.User">
		update User set user_admin=${user_admin}
		where user_idx=#{user_idx}
	</update>
	
	<!-- 공동구매 게시글 수 조회 쿼리 -->
    <select id="countGpAll" resultType="int">
        select count(*) from gp
    </select>
    <!-- 1:1 거래 게시글 수 조회 쿼리 -->
    <select id="countTrAll" resultType="int">
        select count(*) from tr
    </select>
    
    <select id="countFreeAll" resultType="int">
        select count(*) from free
    </select>
    
    <!-- 공동구매 게시글 날짜별 count 쿼리 -->
	<select id="selectGpCountsByDate" resultType="map">
	    SELECT
	        (SELECT COUNT(*) FROM gp WHERE DATE(gp_date) = #{date} - INTERVAL 1 DAY) AS count_minus_1_day,
	        (SELECT COUNT(*) FROM gp WHERE DATE(gp_date) = #{date}) AS count,
	        (SELECT COUNT(*) FROM gp WHERE DATE(gp_date) = #{date} + INTERVAL 1 DAY) AS count_plus_1_day
	</select>
	
	<!-- 1:1 거래 게시글 날짜별 count 쿼리 -->
	<select id="selectTrCountsByDate" resultType="map">
	    SELECT
	        (SELECT COUNT(*) FROM tr WHERE DATE(tr_time) = #{date} - INTERVAL 1 DAY) AS count_minus_1_day,
	        (SELECT COUNT(*) FROM tr WHERE DATE(tr_time) = #{date}) AS count,
	        (SELECT COUNT(*) FROM tr WHERE DATE(tr_time) = #{date} + INTERVAL 1 DAY) AS count_plus_1_day
	</select>
	
	<!-- 자유 게시글 날짜별 count 쿼리 -->
	<select id="selectFreeCountsByDate" resultType="map">
	    SELECT
	        (SELECT COUNT(*) FROM free WHERE DATE(free_date) = #{date} - INTERVAL 1 DAY) AS count_minus_1_day,
	        (SELECT COUNT(*) FROM free WHERE DATE(free_date) = #{date}) AS count,
	        (SELECT COUNT(*) FROM free WHERE DATE(free_date) = #{date} + INTERVAL 1 DAY) AS count_plus_1_day
	</select>
	
</mapper>