<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
	<mapper namespace="kr.co.ezen.mapper.FreeMapper">
	
	<sql id="search">
		<!--  <if test="type == 'user_nickname'">
				where user_nickname like concat('%',#{keyword},'%')
			
			<if test="type == 'free_title'">
				where free_title like concat('%',#{keyword},'%')
			</if>
			</if> -->	
	</sql>
		
	<select id="findAll" resultType="kr.co.ezen.entity.Free" parameterType="kr.co.ezen.entity.Criteria">
	
		select free_idx, free_title, free_content, free_date, user_idx, free_tag, free_count from free
			<include refid="search"/>
			 order by free_idx desc
			 limit #{pageStart}, #{perPageNum}	
	
	</select>
	
		<select id="findfr" resultType="kr.co.ezen.entity.Free" parameterType="kr.co.ezen.entity.Criteria">
        select * from free where free_tag="자유" order by free_idx desc
        limit #{pageStart}, #{perPageNum}	
	</select>

	<select id="findqu" resultType="kr.co.ezen.entity.Free" parameterType="kr.co.ezen.entity.Criteria">
        select * from free where free_tag="질문" order by free_idx desc
        limit #{pageStart}, #{perPageNum}	
	</select>
	
	<select id="findByidx" resultType="kr.co.ezen.entity.Free" parameterType="int">
		select * from free where free_idx=#{free_idx} 
		
	</select>
	
	<insert id="insert" parameterType="kr.co.ezen.entity.Free">
	   insert into free (free_idx, free_title, free_content, free_date, free_tag, free_count)
	    VALUES (#{free_idx}, #{free_title}, #{free_content}, now(), #{free_tag}, #{free_count})
	</insert>
	
	
	<select id="totalCount" resultType="int" parameterType="kr.co.ezen.entity.Criteria">
		   select count(*) from free natural join User
		   <include refid="search"/>
	</select>
	
	<!-- <update id="updateByIdx">
        update free
        set view_cnt = view_cnt + 1
        where free_idx = #{free_idx}
        <include refid="search"/>
	</update>  -->		
	
	
	
	<delete id="deleteByIdx" parameterType="int">
			delete from free where free_idx=#{free_idx}
	</delete>
	
	<update id="updaetByIdx" parameterType="kr.co.ezen.entity.Free">
			update free set free_title=#{free_title}, free_content=#{free_content}, free_tag=#{free_tag}
			where free_idx=#{free_idx}
	</update>
	

	<select id="findAllComment" resultType="kr.co.ezen.entity.FreeComment" parameterType="int">
	
		select free_parent_idx, free_comment_idx, free_comment_time, free_comment_content, free_comment_useable from freeComment 
			<include refid="search"/>
			 order by free_parent_idx desc
	
	</select>
	
	
	
	</mapper>
	
	