<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="kr.co.ezen.mapper.GpMapper">
	
		<sql id="search">
			<if test="type == 'all'">
				where gp_title like concat('%',#{keyword},'%')
			</if>
			<if test="type == 'progress'">
				where gp_title like concat('%',#{keyword},'%')
			</if>
			<if test="type == 'complet'">
				where gp_title like concat('%',#{keyword},'%')
			</if>
		</sql>
		
		<select resultType="kr.co.ezen.entity.Gp" id="findAll"
			parameterType="kr.co.ezen.entity.Criteria">
			select gp_title, gp_date, gp_date_start, gp_date_last, user_idx, gp_idx, gp_thumb from gp natural join User
			<include refid="search"/>
			order by gp_idx
		 	limit #{pageStart}, #{perPageNum}	
		</select> 
		
		<select id="totalCount" resultType="int" parameterType="kr.co.ezen.entity.Criteria">
		   select count(*) from gp
		   <include refid="search"/>
		</select>
		
		<select resultType="kr.co.ezen.entity.Gp" 
		parameterType="int" id="findByIdx">
			select gp_title, gp_price, gp_date_start, gp_date_last, gp_content, gp_idx, gp_thumb from gp natural join User
			where gp_idx=#{gp_idx}
		</select>
		
		<select resultType="kr.co.ezen.entity.GpUser" 
		parameterType="int" id="findGpUserbyIdx">
			select gp_idx, gp_uid, user_idx, gp_zipcode, gp_addr, gp_name, gp_email, gp_total, gp_num from gpUser
			where user_idx=#{user_idx}
		</select>
		
		<insert id="insert" parameterType="kr.co.ezen.entity.Gp">
			insert into gp (gp_title,gp_content,gp_price,gp_date_start, gp_date_last, gp_thumb, user_idx)
			VALUES (#{gp_title}, #{gp_content},#{gp_price},#{gp_date_start},#{gp_date_last},#{gp_thumb}, #{user_idx})
		</insert>
		
		
		<update id="updateByIdx" parameterType="kr.co.ezen.entity.Gp">
			update gp set gp_title=#{gp_title}, gp_content=#{gp_content}, gp_price=#{gp_price}, gp_date_start=#{gp_date_start}, gp_date_last=#{gp_date_last}, gp_thumb=#{gp_thumb}
			where gp_idx=#{gp_idx}
		</update>
		
		
		<delete id="deleteByIdx" parameterType="int">
			delete from gp where gp_idx=#{gp_idx}
		</delete>
		
		
		<insert id="request" parameterType="kr.co.ezen.entity.GpUser">
			insert into gpUser (gp_idx, user_idx,gp_uid, gp_zipcode, gp_addr, gp_name, gp_email, gp_total, gp_num)
			VALUES (#{gp_idx},#{user_idx},#{gp_uid},#{gp_zipcode},#{gp_addr},#{gp_name},#{gp_email},#{gp_total}, #{gp_num})
		</insert>
		
		<delete id="deleteRequest" parameterType="int">
			delete from gpUser where user_idx=#{user_idx} AND gp_idx=#{gp_idx}
		</delete>

	</mapper>