<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.ezen.mapper.InfoMapper">
	
	<sql id="search">
		<if test="type == 'user_nickname'">
			where user_nickname like concat('%',#{keyword},'%')
		</if> 
		<if test="type == 'info_title'">
			where info_title like concat('%',#{keyword},'%')
		</if>
		<if test="type != null and tag != null">
			and info_tag=#{tag}
		</if>
		<if test="type == null and tag != null">
			where info_tag=#{tag}
		</if>
	</sql>
		
	<select id="findAll" resultType="kr.co.ezen.entity.Info" parameterType="kr.co.ezen.entity.Criteria">
		select i.info_title,i.info_content,i.info_date,i.info_tag,
		    u.user_nickname,u.user_idx,i.info_idx,i.info_count,
		    (select COUNT(*) from infoLike il where il.info_idx = i.info_idx) AS info_like
		from info AS i join User AS u ON i.user_idx = u.user_idx
		<include refid="search"/>
		order by i.info_idx desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<insert id="insert" parameterType="kr.co.ezen.entity.Info">
		insert into info (
		info_idx,info_title, info_content, info_date, info_tag, info_count, user_idx) 
		values (#{info_idx}, #{info_title}, #{info_content}, now(), #{info_tag}, #{info_count}, #{user_idx})
	</insert>
	
	<select id="findByIdx" resultType="kr.co.ezen.entity.Info" parameterType="int">
		select info_idx, info_title, info_content, info_date, info_tag, info_count, user_idx, user_nickname
		from info natural join User where info_idx=#{info_idx} 
	</select>

	
	<select id="totalCount" resultType="int" parameterType="kr.co.ezen.entity.Criteria">
		select count(*) from info natural join User
		<include refid="search"/>
	</select>
	
	<update id="updatecnt" parameterType="int">
		update info
		set info_count = info_count + 1
		where info_idx = #{info_idx}
	</update>
	
	<delete id="deleteByIdx" parameterType="int">
		delete from info where info_idx=#{info_idx}
	</delete>
	
	<update id="updateByIdx" parameterType="kr.co.ezen.entity.Info">
		update info set info_title=#{info_title}, info_content=#{info_content}, info_tag=#{info_tag}
		where info_idx=#{info_idx}
	</update>
	
	
	
	
	
	
	<select id="findUser_idxIsExist" parameterType="kr.co.ezen.entity.InfoLike" resultType="int">
		select count(*) from infoLike
		where info_idx=#{info_idx} and user_idx=#{user_idx}
	</select>
	
	<select id="findLikeCount" parameterType="int" resultType="int">
		select count(*) from infoLike
		where info_idx=#{info_idx}
	</select>
	
	<insert id="insertInfoLike" parameterType="kr.co.ezen.entity.InfoLike">
		insert into infoLike (info_idx,user_idx) values (#{info_idx},#{user_idx})
	</insert>
	
	<delete id="deleteInfoLike" parameterType="kr.co.ezen.entity.InfoLike">
		delete from infoLike where info_idx=#{info_idx} and user_idx=#{user_idx}
	</delete>
	
	
</mapper>